<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kroogles.lel" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dublin Bus Arrival Info</name>
    <description>
        Get realtime info on arrival times at bus stops in dublin.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
